body {
  font-family: serif;
  background-color: beige;
}



img.right {
  float:right;
}
img.left {
  float:left;
}

.column {
  width: 300px;
  float: left;
  padding: 5px;
}

.sidebar {
  width: 200px;
  float: right;
  padding: 5px;
  background-color: #FF4422;
}

table {
  background-color: #333333;
  text-align: left;
  padding: 2px;
  color: white;
}
